/* ======================= Footer ====================== */
@use "variables";

#main-footer {
  .footer-content {
    display: flex;
    justify-content: space-between;
    p {
      letter-spacing: 0.1rem;
      word-spacing: 0.2rem;
    }
  }
  .social {
    font-size: 3rem;
    display: flex;
    gap: 2rem;

    i {
      font-size: 1.5rem;
      padding: 0.8rem;
      border-radius: 50%;
      border: 0.1rem solid variables.$light-color;
      background-color: variables.$black-color;
      color: #fff;

      &:hover {
        background-color: variables.$primary-color;
      }
    }
  }
}
