/* ======================= Footer ====================== */
@use "variables";
@use "sass:map";
@use "responsive" as *;

#main-footer {
  .footer-content {
    display: flex;
    justify-content: space-between;
    p {
      letter-spacing: 0.1rem;
      word-spacing: 0.2rem;
    }
  }
  .social {
    font-size: 3rem;
    display: flex;
    gap: 2rem;

    i {
      font-size: 1.5rem;
      padding: 0.8rem;
      border-radius: 50%;
      border: 0.1rem solid variables.$light-color;
      background-color: variables.$black-color;
      color: #fff;

      &:hover {
        background-color: variables.$primary-color;
      }
    }
  }
}

/* ================= Footer Responsive ================= */

@include respond(xl) {
  /* footer */
  #main-footer {
    .footer-content {
      margin: 0 auto;
      padding: 2rem;
    }
  }
}

@include respond(large) {
}

@include respond(medium) {
  /* footer */
  #main-footer {
    .footer-content {
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
      p {
        letter-spacing: 0;
        word-spacing: 0;
        padding: 0;
        margin: 0;
      }
    }
    .social {
      i {
        font-size: 1rem;
      }
    }
  }
}

@include respond(small) {
  /* footer */
  #main-footer {
    .footer-content {
      font-size: 1.2rem;
    }
    .social {
      i {
        font-size: 0.5rem;
      }
    }
  }
}
