/* ====================== Header ====================== */
@use "variables";

/* main-nav */
.main-nav {
  display: flex;
  justify-content: space-between;

  li {
    padding: 1rem 1.5rem;
    letter-spacing: 2px;

    .active {
      border-color: variables.$primary-color;
    }

    a {
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: variables.$light-color;
      }

      &.active {
        border-color: variables.$primary-color;
      }
    }
  }

  &__logo {
    width: 12rem;
    height: 12rem;
  }

  &__items {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }
}

/* header */
.header {
  &--home {
    background:
      linear-gradient(to bottom, #494b5298, #74c7cf29),
      url("../img/bg.jpg") no-repeat left top / cover;
    height: 100vh;
    color: #fff;

    .header-content {
      text-align: center;
      padding-top: 30%;

      h1 {
        font-size: 6.4rem;
        line-height: 1.2;
      }
      #typewriter {
        display: block;
      }
    }
  }

  &--small {
    background:
      linear-gradient(to bottom, #494b5298, #74c7cf29),
      url("../img/bg.jpg") no-repeat 30% 25% / cover;
    color: #fff;
  }
}
