/* ================= Responsive Common ================= */

@use "variables";
@use "sass:map";

@mixin respond($size) {
  @media (max-width: map.get(variables.$breakpoints, $size)) {
    @content;
  }
}

@include respond(xl) {
  html {
    font-size: 58%;
    h2.section-title {
      font-size: 2rem;
    }
    p.lead {
      font-size: 2rem;
    }
  }

  section[class*="py-"],
  div[class*="py-"] {
    padding: 1rem 0;
  }
}

@include respond(large) {
  html {
    font-size: 55%;
  }
}

@include respond(medium) {
  html {
    font-size: 50%;
  }
}

@include respond(small) {
  html {
    font-size: 30%;
  }
}
