// Colors
$light-color: #eaefef;
$dark-color: #bfc9d1;
$black-color: #25343f;
$primary-color: #ff9b51;

// Max-width
$max-width: 120rem;

// Fonts
$lato-font: "Lato";
$open-sans-font: "Open Sans";

$breakpoints: (
  "small": 300px,
  "medium": 576px,
  "large": 768px,
  "xl": 992px,
);
